aiohttp
aiosignal
appdirs
asgiref
async-timeout     
attrs
beautifulsoup4    
blinker
bs4
certifi
charset-normalizer
click
colorama
comtypes
contourpy
crispy-bootstrap5
cycler
DateTime
distlib
dj-database-url
Django
django-bootstrap5
django-cors-headers
django-crispy-forms
django-email
django-environ
django-extensions
django-filter
django-model-utils
djangorestframework
djangorestframework-simplejwt   
drf-yasg
easy-colors
EasyProcess
entrypoint2
filelock
Flask
fonttools
frozenlist
google-speech
googlesearch-python
idna
inflection
itsdangerous
Jinja2
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
MouseInfo
mpmath
mss
multidict
music
numpy
opencv-contrib-python
opencv-python
packaging
Pillow
pip-search
pipenv
platformdirs
play-video
psycopg2
psycopg2-binary
PyAudio
PyAutoGUI
pygame
PyGetWindow
Pygments
pyjokes
PyJWT
PyMsgBox
pyparsing
pyperclip
pypiwin32
PyRect
pyscreenshot
PyScreeze
python-dateutil
python-decouple
python-dotenv
python-weather
pyttsx3
pytweening
pytz
pywhatkit
pywin32
PyYAML
requests
rich
scipy
secure-smtplib
send-mail
six
soupsieve
SpeechRecognition
sqlparse
sympy
termcolor
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
web-cache
Werkzeug
wikipedia
yarl
youtube-dl
youtube-search
zope.interface